extends template/main

block variables
	- var title = '';
	- var description = '';
	- var keywords = 'SeoWave Studio';
	- var author = '';
	- var pageClass = 'page-template-contacts';

block content

	section.contacts-section
		//- .contacts__header
			.container
		.contacts__body

			.contacts__map

				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20313.892544506034!2d30.507008!3d50.4739395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1598638412264!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

			.contacts__info

				.container

					.contacts__inner

						h2.contacts__title(data-content="Контакты") Контакты

						img.contacts__image(src="images/ny.png")

						.contacts__content

							.contacts__haeding We love meeting new people, so drop by for a cup of coffee and a strategic chat.

							.contacts__address
								<p>вул. феодори пушиної </p>
								<p>57 <span>/ офіс 1</span></p>
								
								.contacts-phones
									img.contacts-tel__icon(src="images/icon-phone.svg")
									//- <svg class="" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									//- 	<path d="M4.57238 6.42363C5.24665 7.12211 6.06249 7.66137 6.96261 8.00355L8.18034 7.01404C8.21644 6.98865 8.25925 6.97506 8.30308 6.97506C8.34692 6.97506 8.38972 6.98865 8.42582 7.01404L10.6869 8.5016C10.7727 8.5543 10.8454 8.62666 10.8991 8.71296C10.9529 8.79926 10.9862 8.89714 10.9965 8.99887C11.0069 9.1006 10.9939 9.20339 10.9587 9.29912C10.9234 9.39486 10.8669 9.48091 10.7934 9.55048L9.73399 10.6192C9.58227 10.7722 9.39579 10.8846 9.1912 10.9462C8.98661 11.0077 8.77027 11.0167 8.56149 10.9721C6.47882 10.5328 4.55918 9.50414 3.02196 8.00355C1.51885 6.48803 0.478712 4.55967 0.0277091 2.4524C-0.0168441 2.2425 -0.00754521 2.02441 0.0547046 1.81927C0.116954 1.61412 0.230044 1.42887 0.383014 1.28148L1.48123 0.199613C1.54919 0.128298 1.63207 0.0736074 1.72366 0.0396352C1.81525 0.00566301 1.91318 -0.00671001 2.01012 0.00344264C2.10706 0.0135953 2.20049 0.0460105 2.28342 0.0982612C2.36635 0.150512 2.43663 0.221244 2.489 0.305161L3.9942 2.58433C4.02017 2.62012 4.03418 2.66348 4.03418 2.70802C4.03418 2.75256 4.02017 2.79592 3.9942 2.83171L3.00258 4.04881C3.34677 4.94957 3.883 5.7608 4.57238 6.42363Z" fill="#727272"></path>
									//- </svg>
									<ul class="contacts-tel__list">
										<li class="contacts-tel__item"><a class="contacts-tel__link" href="tel:+380995555555">+38(099) 555-55-55</a></li>
										<li class="contacts-tel__item"><a class="contacts-tel__link" href="tel:+380995555555">+38(099) 555-55-55</a></li>
									</ul>


								//- .contacts-social
								//- 	.contacts-social__item
								//- 		a.contacts-social__link
								//- 			<svg class="contacts-social__icon" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 				<path d="M3.81477 11.2484V6.46735H5.42769L5.66744 4.59543H3.81477V3.4031C3.81477 2.86293 3.96527 2.4931 4.74052 2.4931H5.72286V0.824182C5.24489 0.77296 4.76447 0.748228 4.28377 0.750099C2.85811 0.750099 1.87927 1.62043 1.87927 3.21818V4.59193H0.276855V6.46385H1.88277V11.2484H3.81477Z" fill="#132324"/>
								//- 			</svg>
								//- 	.contacts-social__item
								//- 		a.contacts-social__link
								//- 			.contacts-social__icon
								//- 			<svg class="contacts-social__icon" width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 				<path d="M13.0014 1.30298C12.6394 1.86389 12.1952 2.34203 11.669 2.73742C11.6742 2.84346 11.6768 2.96331 11.6768 3.09697C11.6768 3.83964 11.5728 4.58321 11.365 5.32767C11.1571 6.07215 10.8395 6.78474 10.4123 7.46545C9.98506 8.14616 9.47616 8.74921 8.88558 9.2746C8.295 9.79998 7.58509 10.2189 6.75587 10.5313C5.92664 10.8438 5.03793 11 4.08974 11C2.60993 11 1.24717 10.5839 0.00146484 9.75159C0.222563 9.77722 0.434615 9.79003 0.637621 9.79003C1.87388 9.79003 2.97806 9.39338 3.95016 8.60009C3.37374 8.58908 2.85752 8.40425 2.40149 8.04559C1.94546 7.68694 1.63163 7.22865 1.46 6.67072C1.62965 6.70438 1.79708 6.72121 1.9623 6.72121C2.20012 6.72121 2.43414 6.6889 2.66435 6.62428C2.04921 6.49594 1.5389 6.1768 1.13341 5.66684C0.727944 5.15688 0.525209 4.5683 0.525209 3.90108V3.8667C0.902786 4.08447 1.30553 4.20031 1.73344 4.21421C1.36904 3.96115 1.08012 3.63115 0.866688 3.22422C0.653242 2.81729 0.54652 2.37691 0.54652 1.9031C0.54652 1.40338 0.666731 0.938054 0.907154 0.507111C1.57611 1.36223 2.38669 2.04567 3.33889 2.55742C4.29111 3.06919 5.31265 3.3534 6.40353 3.41008C6.357 3.20809 6.3337 2.99732 6.33361 2.77774C6.33361 2.01107 6.59407 1.35645 7.11499 0.813868C7.63592 0.271289 8.26438 0 9.00039 0C9.77096 0 10.42 0.292274 10.9476 0.876821C11.5503 0.752455 12.1147 0.527509 12.6407 0.201982C12.438 0.866309 12.0476 1.37879 11.4692 1.73943C12.0008 1.67364 12.5115 1.52815 13.0014 1.30298H13.0014Z" fill="#132324"/>
								//- 			</svg>
								//- 	.contacts-social__item
								//- 		a.contacts-social__link
								//- 			<svg class="contacts-social__icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 				<path d="M5.99982 3.19587C4.44806 3.19587 3.19572 4.44821 3.19572 5.99997C3.19572 7.55172 4.44806 8.80407 5.99982 8.80407C7.55158 8.80407 8.80392 7.55172 8.80392 5.99997C8.80392 4.44821 7.55158 3.19587 5.99982 3.19587ZM5.99982 7.82243C4.9963 7.82243 4.17736 7.00348 4.17736 5.99997C4.17736 4.99645 4.9963 4.17751 5.99982 4.17751C7.00334 4.17751 7.82228 4.99645 7.82228 5.99997C7.82228 7.00348 7.00334 7.82243 5.99982 7.82243ZM8.91877 2.42751C8.55646 2.42751 8.26388 2.72008 8.26388 3.08239C8.26388 3.44469 8.55646 3.73727 8.91877 3.73727C9.28107 3.73727 9.57365 3.44606 9.57365 3.08239C9.57376 2.99636 9.55689 2.91115 9.52402 2.83165C9.49115 2.75215 9.44291 2.67991 9.38208 2.61908C9.32125 2.55824 9.24901 2.51001 9.16951 2.47714C9.09 2.44426 9.0048 2.4274 8.91877 2.42751ZM11.4658 5.99997C11.4658 5.24528 11.4727 4.49743 11.4303 3.74411C11.3879 2.86911 11.1883 2.09255 10.5485 1.4527C9.90724 0.811491 9.13205 0.613248 8.25705 0.570866C7.50236 0.528483 6.75451 0.535319 6.00119 0.535319C5.2465 0.535319 4.49865 0.528483 3.74533 0.570866C2.87033 0.613248 2.09377 0.812858 1.45392 1.4527C0.812711 2.09391 0.614469 2.86911 0.572086 3.74411C0.529704 4.4988 0.536539 5.24665 0.536539 5.99997C0.536539 6.75329 0.529704 7.50251 0.572086 8.25583C0.614469 9.13083 0.814079 9.90739 1.45392 10.5472C2.09513 11.1884 2.87033 11.3867 3.74533 11.4291C4.50002 11.4715 5.24787 11.4646 6.00119 11.4646C6.75587 11.4646 7.50373 11.4715 8.25705 11.4291C9.13205 11.3867 9.90861 11.1871 10.5485 10.5472C11.1897 9.90602 11.3879 9.13083 11.4303 8.25583C11.474 7.50251 11.4658 6.75465 11.4658 5.99997ZM10.2627 9.22379C10.1629 9.47262 10.0426 9.65856 9.84982 9.84997C9.65705 10.0427 9.47248 10.1631 9.22365 10.2629C8.50451 10.5486 6.79689 10.4843 5.99982 10.4843C5.20275 10.4843 3.49377 10.5486 2.77463 10.2642C2.5258 10.1644 2.33986 10.0441 2.14845 9.85133C1.95568 9.65856 1.83537 9.47399 1.73556 9.22516C1.45119 8.50465 1.51545 6.79704 1.51545 5.99997C1.51545 5.2029 1.45119 3.49391 1.73556 2.77477C1.83537 2.52594 1.95568 2.34001 2.14845 2.1486C2.34123 1.95719 2.5258 1.83551 2.77463 1.73571C3.49377 1.45133 5.20275 1.51559 5.99982 1.51559C6.79689 1.51559 8.50588 1.45133 9.22502 1.73571C9.47384 1.83551 9.65978 1.95583 9.85119 2.1486C10.044 2.34137 10.1643 2.52594 10.2641 2.77477C10.5485 3.49391 10.4842 5.2029 10.4842 5.99997C10.4842 6.79704 10.5485 8.50465 10.2627 9.22379Z" fill="#132324"/>
								//- 			</svg>

						.contacts-socials
							.contacts-social__item
								a.contacts-social__link facebook
							.contacts-social__item
								a.contacts-social__link twitter
							.contacts-social__item
								a.contacts-social__link instagram
