<svg class="testimonials__video-icon" width="159" height="158" viewBox="0 0 159 158" fill="none" xmlns="http://www.w3.org/2000/svg">
	<circle cx="79.7973" cy="79.0729" r="78.8847" fill="white" fill-opacity="0.5"/>
	<path d="M87.8015 77.7447L75.0748 85.0925L75.0748 70.397L87.8015 77.7447Z" fill="#1BD0E0"/>
	<circle cx="79.1055" cy="78.3809" r="41.7102" stroke="white"/>
</svg>