meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
//- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
title #{title}
meta(name="description" content= description)
//- <!--[if IE]>
//- meta(http-equiv='X-UA-Compatible', content="IE = edge")
//- <![endif]-->
meta(name="keywords" content= keywords)
meta(name="author" content= author)
meta(name="robots" content="noindex, nofollow")
// basic favicons 
link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")

//- link(rel="stylesheet" type='text/css' href="libraries/jquery-images-compare/images-compare.css")

link(rel="stylesheet" type='text/css' href="css/styles.min.css")
