section.section-map

	.map__item

		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20313.892544506034!2d30.507008!3d50.4739395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1598638412264!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

	.map__info

		.container

			.map__info-inner

				h2.map__info-title Наши контакты
				.map__info-item
					img.map__info-icon(src="images/icon-phone.svg")
					a.map__info-contact(href="tel:+38097595532") +38097595532
				.map__info-item
					img.map__info-icon(src="images/icon-mail.svg")
					a.map__info-contact(href="mailto:info@mail.ua") info@mail.ua
				.map__info-item
					img.map__info-icon(src="images/icon-pin.svg")
					span.map__info-contact вул. Феодори Пушиної 57, офіс 1
				.map__info-button-group
					button.map__info-button.button--outline Запись на прием
					button.map__info-button.button--primary Запись на прием