
/* SECTION Certificates */
/* -------------------------------------------------------------------------- */

.home-gallery {
  padding: 0 0 400px;
  position: relative;

  &:before {
    width: 100vw;
    height: 900px;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
  }
}

.home-gallery__wrapper {
  padding-top: 50px;
}

.home-gallery__article {
  width: 500px;
  border: 1px solid #ced0d6;
  margin: 50px auto 50px;
  position: relative;
  z-index: 10;
}

.home-gallery__article-inner {
  position: relative;
  z-index: 10;

  .small {
    font-weight: 900;
    font-size: 62px;
    line-height: 1;
    color: #fff;
    display: inline-block;
    margin: 50px  0 0 -100px;
    position: relative;
  }

  h3 {
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    margin: 0  0 0 -100px;
    padding: 0;
  }

  p {
    max-width: 300px;
    font-size: 17px;
    line-height: 2;
    color: #fff;
    margin: 70px -70px 0 auto;
  }
}

.home-gallery__slider {
  width: 750px;
  display: block;
  position: absolute;
  top: 350px;
  left: -70px;
  z-index: 2;
}

.home-gallery__image {
  background-size: cover;
  background-position: center;
}

.home-gallery__placeholder {
  width: 100%;
  height: 100%;
  display: block;
}

.home-gallery__slider-navigation {
  width: 130px;
  height: 130px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 20px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 50px;

  background-color: #C1EEF2;
  position: relative;

  .swiper-pagination-current {
    color: #000000;
    top: -10px;
    position: relative;
  }

  .swiper-pagination-total {
    color: #ffffff;
    top: 10px;
    position: relative;
  }

  #home-gallery-slider-button-prev,
  #home-gallery-slider-button-next {
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 70%;
  }

  #home-gallery-slider-button-prev {
    left: 15px;
    transform: rotate(180deg);
  }

  #home-gallery-slider-button-next {
    right: 15px;
  }

  .swiper-button-disabled {
    display: none;
  }
}
