footer.site-footer(id="site-footer" role="contentinfo")
	.container
		.site-footer-inner
			div
				.copyright Copyright © 2020 | Стоматология Фемели оф Дентис. All Rights Reserved.
				a.author(href="#") create by GROUP OF COMPANIES SEOWAVE

		//- nav.social-menu(aria-label="Ссылки на профили в социальных сетях")
			h2.screen-reader-text Ссылки на профили в социальных сетях
			a.social-menu-link(href="https://www.instagram.com/laconic_design/" target="_blank") Instagram
			a.social-menu-link(href="https://www.facebook.com/LaconicDesignKiev/" target="_blank") Facebook

		//- div.lang-menu(aria-label="Ссылки на мульти")
		//- 	label.lang-toggle
		//- 		input(type="checkbox")
		//- 		ul.lang-menu-inner
		//- 			li.lang-menu-item
		//- 				span.lang-menu-link(href="https://www.instagram.com/laconic_design/" target="_blank") RU
		//- 			li.lang-menu-item
		//- 				a.lang-menu-link(href="https://www.instagram.com/laconic_design/" target="_blank") UA
		//- 			li.lang-menu-item
		//- 				a.lang-menu-link(href="https://www.facebook.com/LaconicDesignKiev/" target="_blank") EN
